
body{ 
    background-color: #faf2e7;
}

/* navBar stlye */

.navbar a{
    color: #656d4f;
    font-weight: 500;
    font-family: Fira Sans;
}


/* heroBar style */

/* .heroBar {
   height: 100vh;
} */

.heroBar h1,h4{
color: #656d4f;
font-family: Fira Sans;
}


.heroBar button:hover {
 background-color: #faf2e7;
 color:#656d4f; 
 box-shadow: 5px 5px 5px #656d4f;
}

.heroBar button{
    color: #faf2e7;
    background-color:#656d4f;
    border-color: #656d4f;
    font-family: Fira Sans;
}


/* Work Grid Layout Style */

.card {
    background-color: #faf2e7;
    color:#656d4f; 
    font-family: Fira Sans;
}

.card img{
    height: 500px;
    width: auto; 
}

.row2 .card img {

    height: 300px;
    width:auto;
}

.card-body a{
text-decoration: none;
color: #656d4f;
}

.card-body a:hover{
    color:#9b9b84;
}
